<html>
  <head>
    <title>SEW Roorkee Admin</title>
    <script src="/static/lib/angular/angular.min.js"></script>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/sew114.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/sew72.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/static/img/sew57.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="/static/css/bs_modified.css" type="text/css" >
  </head>
  <body>
    <div class="well">
      <img class="center-block" src="/static/img/sew57.png" />
      <h1 class="text-center">SEW Roorkee Admin</h1>
    </div>
    <div class="container">
      <div class="col-xs-12">
        <h3 class="text-center"><u>Reports</u></h3>
        <ul class="nav nav-pills nav-stacked nav-justified">
          <li><a href="/rrk/admin/finished-inventory"><h3>Finished Inventory</h3></a></li><hr>
        </ul>
      </div>
      <div class="col-xs-12">
        <h3 class="text-center"><u>BOM</u></h3>
        <ul class="nav nav-pills nav-stacked nav-justified">
          <li><a href="/rrk/admin/create-new-raw-material"><h3>Create New Raw Material</h3></a></li><hr>
          <li><a href="/rrk/admin/create-new-model"><h3>Register New Model</h3></a></li><hr>
          <li><a href="/rrk/admin/modify-existing-model"><h3>Modify Existing Model</h3></a></li><hr>
        </ul>
      </div>
    </div> <!-- container -->
  </body>
</html>
