<html>
  <head>
    <title>RRK Purchase Bills</title>
    <script src="/static/lib/angular/angular.min.js"></script>
    <script src="/static/lib/angular/angular-resource.min.js"></script>
    <script src="/static/js/services.js"></script>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/sew114.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/sew72.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/static/img/sew57.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="/static/css/bs_modified.css" type="text/css" >
    <script>
      var appMod = angular.module('SEWPulseApp', ['bomServices']);
      appMod.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('||');
        $interpolateProvider.endSymbol('||');
      });


      appMod.controller('RRKPurchaseInvoiceCtrl', ['$scope', 'RRKPurchaseInvoice', function($scope, RRKPurchaseInvoice) {
        function FetchRRKPurchaseInvoices(){
          $scope.done = false;
          $scope.statusNote = "Fetching RRK Purchase Invoices...";
          RRKPurchaseInvoice.query(function(data){
            $scope.statusNote = "";
            $scope.rrkSIS = data.RRKPurchaseInvoices;
            $scope.done = true;
            }, function(error){
            $scope.statusNote = error.status + ": " + error.data;
            $scope.rrkSIS = [];
            $scope.done = true;
          });
        }

        FetchRRKPurchaseInvoices();
      }]);

    </script>
  </head>
  <body ng-app="SEWPulseApp" ng-controller="RRKPurchaseInvoiceCtrl">
    <div class="well">
      <a href="/"><img class="center-block" src="/static/img/sew57.png" /></a>
     <h1 class="text-center">RRK Purchase Invoices</h1>
      <div id="statusNote" ng-bind="statusNote"></div>
    </div>
    <div class="container-fluid">
      <div ng-show="done">
        <li ng-repeat="si in rrkSIS">
        <a ng-href="/rrk/purchaseInvoice/||si.UID||"><span ng-bind="si.DD_MMM_YY"></span> Inv#<span ng-bind="si.Number"></span> M/s <span ng-bind="si.SupplierName"></span></a>
        </li>
        <div ng-if="!rrkSIS">
          No RRK purchase invoice entered yet!
        </div>
      </div>
      <div ng-show="!done">
        <img class="center-block" src="/static/img/working.gif" />
      </div>
      </div>
      <div class="todo">Provide Pagination</div>
    </div> <!-- container -->
  </body>
</html>
