<!DOCTYPE html>
<html >
  <head>
    <title>FAQ</title>
    <script src="/static/lib/angular/angular.min.js"></script>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/sew114.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/sew72.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/static/img/sew57.png">

    <meta name="application-name" content="FAQ" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="/static/css/bs_modified.css" type="text/css" >
  </head>
  <body>
    <div class="well">
      <a href="/"><img class="center-block" src="/static/img/sew57.png" /></a>
      <h1 class="text-center">FAQ</h1>
    </div>
    <!--
    TODO: Put a search box
    -->

    <h3>Q: Do I have to use Chrome?</h3>
    <p>Well yes. All the testing and feature development has been done specifically on
    Chrome but it may very well work on Firefox and Safari too. Internet
    Explorer is known to be buggy and the app might not work on it.</p>

    <h3>Q: Do I and everyone else need to have a Gmail account to use this app?</h3>
    <p>
    Well yes, again. Gmail accounts works right out of box with least resistance. And they are free to
    get started with and are practically unhackable if secured with 2-step
    authentication.
    </p>
    <p>
    A domain specific email account with your company(like xyz@seworks.com) can be made to work in in future, if required.
    </p>
  </body>
</html>

