<!DOCTYPE html>
<html >
  <head>
    <title>FAQ</title>
    <script src="/static/lib/angular/angular.min.js"></script>
    <script src="/static/js/controllers.js"></script>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/sewlogo-114x114.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/sewlogo-72x72.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/static/img/sewlogo-57x57.png">

    <meta name="application-name" content="Dashboard" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" >
  </head>
  <body>
    <ul class="nav nav-pills nav-stacked nav-justified">
      <li><a href="order"><h3>Orders</h3></a></li><hr>
      <li><a href="pmt"><h3>Payments</h3></a></li><hr>
      <li><a href="shipstatus"><h3>Shipment Status</h3></a></li><hr>
      <li><a href="kmpo"><h3>KM Pending Orders</h3></a></li><hr>
      <li><a href="formC"><h3>Pending FORM-C</h3></a></li><hr>
    </ul>
  </body>
</html>

