<html>
  <head>
    <title>SEW Ghaziabad</title>
    <script src="/static/lib/angular/angular.min.js"></script>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/sew114.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/sew72.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/static/img/sew57.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="/static/css/bs_modified.css" type="text/css" >
  </head>
  <body>
    <div class="well">
      <a href="/"><img class="center-block" src="/static/img/sew57.png" /></a>
      <h1 class="text-center">SEW Ghaziabad</h1>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
          <h3 class="text-center"><u>Daily</u></h3>
          <ul class="nav nav-pills nav-stacked nav-justified">
            <li><a href="/gzb/daily-cash"><h3><span>&#8377</span> Cash Book</h3></a></li><hr>
            <li><a href="/gzb/daily-trading-sale"><h3>Daily Trading Sale</h3></a></li><hr>
            <li><a href="/gzb/daily-mfg-sale"><h3>Daily Manufacturing Sale</h3></a></li><hr>
          </ul>
        </div>
        <div class="col-xs-6">
          <h3 class="text-center"><u>As & When</u></h3>
          <ul class="nav nav-pills nav-stacked nav-justified">
            <li class="disabled"><a><h3>...</h3></a></li><hr>
          </ul>
        </div>
      </div>
    </div> <!-- container -->
  </body>
</html>
