<!DOCTYPE html>
<html >
  <head>
    <title>SEWPULSE HOME</title>
    <script src="/static/lib/angular/angular.min.js"></script>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/sew114.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/sew72.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/static/img/sew57.png">

    <meta name="application-name" content="FAQ" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="/static/css/bs_modified.css" type="text/css" >
  </head>
  <body>
    <div class="well">
      <a href="/"><img class="center-block" src="/static/img/sew57.png" /></a>
      <!--

      <div class="todo">Pagination in all the views</div>
      <div class="todo">Have one page summary for each day</div>
      <div class="todo">Sort the articles in decreasing order of percentage of minimum stock </div>
      <div class="todo">Add a cron job for one page summary and stock calculation</div>
      <div class="todo">Have allowed users whitelist</div>
      <div class="todo">Have an FAQ page</div>
      <div class="todo">Have the trace working for models and articles</div>
      <div class="todo">Change admin to super user</div>
      <div class="todo">Have a suggestion box area on the bottom of this page.</div>
      <div class="todo">Implement Invoicer.</div>
      <div class="todo">See the error display of stock position and mass deletion.</div>
      <div class="todo">Use Customers from drop down</div>
      -->
    </div>
    <div class="container">
      <ul class="nav nav-pills nav-stacked nav-justified">
        <li><a href="/rrk"><h3>Roorkee</h3></a></li><hr>
        <li><a href="/gzb"><h3>Ghaziabad</h3></a></li><hr>
      </ul>
    </div>
    <div class="col-xs-1">
      <ul class="nav nav-pills nav-stacked nav-justified">
        <li><a href="/a"><h3>       </h3></a></li>
      </ul>
    </div> <!-- container -->
  </body>
</html>
