<html>
  <head>
    <title>Submit Roorkee Daily Production</title>
    <script src="/static/lib/angular/angular.min.js"></script>
    <script src="/static/js/controllers.js"></script>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/sew114.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/sew72.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/static/img/sew57.png">

    <meta name="application-name" content="FAQ" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="/static/css/bs_modified.css" type="text/css" >
  </head>
  <body ng-app="ngSEWPulseApp" ng-controller="ngRRKDailyProdController">
    <div class="well">
      <div class="row">
        <div class="span4"></div>
        <div class="span4"><img class="center-block" src="/static/img/sew57.png" /></div>
        <div class="span4"></div>
      </div>
      <h1 class="text-center">RRK Daily Production</h1>
    </div>
    <div class="container">
      <form role="form" action="/api/rrkDailyProdEmailSendApi">
        <input required type="date" ng-model="dateValue" />
        <br>
        <hr>
        <div class="row">
          <div class="form-group">
            <div class="col-xs-5">
              <input required type="text"   class="form-control" ng-model="modelName" placeholder="Model Name..."/>
            </div>
            <div class="col-xs-4">
              <input required type="number" class="form-control" ng-model="quantity" placeholder="Quantity..."/>
            </div>
            <div class="col-xs-3">
              <input required type="text" class="form-control" ng-model="units" placeholder="pc or kg..."/>
            </div>
          <div class="col-xs-12">
            <textarea type="text"   class="form-control" ng-model="remarks" placeholder="Remarks if any..."></textarea>
          </div>
          </div> <!-- form-group -->
        </div> <!-- row -->
        <button type="button" class="col-xs-12 center-block btn btn-info">Add</button>
        <br>
        <hr>
        <button type="submit" class="center-block btn btn-success">Submit</button>
      </form>
    </div> <!-- container -->
  </body>
</html>

