<html>
  <head>
    <title>Roorkee Daily Sale</title>
    <script src="/static/lib/angular/angular.min.js"></script>
    <script src="/static/lib/angular/angular-resource.min.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/script.js"></script>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/sew114.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/sew72.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/static/img/sew57.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="/static/css/bs_modified.css" type="text/css" >
    <script>
      var appMod = angular.module('SEWPulseApp', ['bomServices']);
      appMod.controller('RRKDailySaleCtrl', ['$scope', 'Model', 'RRKSaleInvoice', function($scope, Model, RRKSaleInvoice) {

        $scope.DateChanged = function() {
          var today = new Date();
          if (today < $scope.SaleInvoice.Date) {
            $scope.SaleInvoice.Date = today;
          }
          $scope.dateDiffFromTodayAsText = GetDateDiffAsText($scope.SaleInvoice.JSDateValue);
        }

        $scope.submitTodaysLog = function() {
          $scope.statusNote = "Submitting...";
          $scope.SaleInvoice.JSDateValueAsSeconds = Math.floor($scope.SaleInvoice.JSDateValue.getTime()/1000);
          RRKSaleInvoice.save($scope.SaleInvoice, function(data){
            $scope.statusNote = "Submitting...";
            if (Debug()){
              $scope.statusNote = "Posted";
              $scope.isLogSubmitted = false;
              } else{
              $scope.statusNote = "";
              $scope.isLogSubmitted = true;
            }
            }, function(error){
            $scope.statusNote = error.status + ": " + error.data;
            $scope.isLogSubmitted = false;
          });
        }

        function FetchModelsFromServer() {
          $scope.statusNote = "Fetching model set...";
          Model.query(function(data){
            $scope.models = data;
            $scope.statusNote = "";

            }, function(error){
            $scope.statusNote = error.status + ": " + error.data;
          });
        }

        $scope.UpdateOrphanCalc = function () {
          $scope.orphan.value = $scope.orphan.Rate * $scope.orphan.Quantity;
        }

        $scope.RemoveItem = function(index) {
          $scope.SaleInvoice.Items.splice(index, 1);
          $scope.ReCalculateInvoiceGT();
        }

        $scope.AddOrphan = function() {
          var items = $scope.SaleInvoice.Items;
          var l = items.length;
          var newItem = {};
          newItem.Name = $scope.orphan.Model.Name;
          newItem.Quantity = $scope.orphan.Quantity;
          newItem.Rate = $scope.orphan.Rate;
          items.splice(l, 0, angular.copy(newItem));
          $scope.ReCalculateInvoiceGT();
          $scope.orphan = {};
        }

        $scope.ReCalculateInvoiceGT = function() {
          var si = $scope.SaleInvoice;
          var items = si.Items;
          var l = items.length;
          var gt = 0;
          var gv = 0;
          for (var i = 0; i<l; i++){
            var item = items[i];
            gv += item.Rate * item.Quantity;
          }
          gt += gv;
          gt += si.TotalFreight;
          gt += si.TotalTax;
          $scope.SaleInvoice.GrandTotal = gt;
          $scope.SaleInvoice.GoodsValue = gv;
          return;
        }

        $scope.SaleInvoice = {};
        $scope.SaleInvoice.Items = [];
        $scope.SaleInvoice.JSDateValue =  new Date();
        $scope.SaleInvoice.TotalTax = 0;
        $scope.SaleInvoice.TotalFreight = 0;
        $scope.DateChanged();
        $scope.statusNote = "";
        $scope.isLogSubmitted = false;
        FetchModelsFromServer();
        if(Debug()) {
          $scope.SaleInvoice.Number="111";
          $scope.tempGrandTotal = 3;
          $scope.SaleInvoice.CustomerName = "Rancho";
        }

      }]);
    </script>
  </head>

  <body ng-app="SEWPulseApp" ng-controller="RRKDailySaleCtrl">
    <div class="well">
      <a href="/"><img class="center-block" src="/static/img/sew57.png" /></a>
      <h1 class="text-center">RRK Daily Sale</h1>
      <div id="statusNote" ng-bind="statusNote"></div>
    </div>
    <div class="container-fluid">
      <div ng-show="isLogSubmitted">
        <div class="alert alert-success" role="alert">
          <div class="text-center">
            Thanks. The log has been submitted successfully.
          </div>
        </div>
      </div>
      <div ng-hide="isLogSubmitted">
        <div class="row">
          <input required class="center-block" autofocus="true" title="Date of Sale" type="date" ng-model="SaleInvoice.JSDateValue" ng-change="DateChanged()" />
          <div class="text-center" ng-bind="dateDiffFromTodayAsText"></div>
        </div>
        <hr>
        <div class="row">
          <span class="col-sm-4 col-xs-6">
            <span class="input-group">
              <span class="input-group-addon">Customer:</span>
              <input required class="form-control" title="Customer Name" type="text" ng-model="SaleInvoice.CustomerName" />
            </span>
          </span>
          <span class="col-sm-4 col-xs-6">
            <span class="input-group">
              <span class="input-group-addon">Inv #</span>
              <input required class="form-control" title="Invoice Number" type="text" ng-model="SaleInvoice.Number" />
            </span>
          </span>
          <span class="col-sm-4 col-xs-6">
            <span class="input-group">
              <span class="input-group-addon">Total &#8377;</span>
              <input required class="form-control" title="Grand Total" type="number" ng-model="tempGrandTotal" />
            </span>
          </span>
        </div>
        <hr> <!-- Show Sale Invoice Current Items as already entered -->
        <div ng-show="SaleInvoice.CustomerName && SaleInvoice.JSDateValue && SaleInvoice.Number && tempGrandTotal">
          <h5 class="text-center"><u>Item Details:</u></h5>
          <div class="row" ng-repeat="item in SaleInvoice.Items">
            <span class="col-sm-3 col-xs-6">
              <span readonly class="form-control" ng-bind="item.Name" ></span>
            </span>
            <span class="col-sm-2 col-xs-6">
              <span class="input-group">
                <span class="input-group-addon">Qty#</span>
                <span  class="form-control" title="Quantity" type="number" ng-bind="item.Quantity" >
                </span>
              </span>
            </span>
            <span class="col-sm-2 col-xs-6">
              <span class="input-group">
                <span class="input-group-addon">Rate &#8377;</span>
                <span class="form-control" title="Rate" type="number" ng-bind="item.Rate">
                </span>
              </span>
            </span>
            <span class="col-sm-3 col-xs-6">
              <span class="input-group">
                <span class="input-group-addon">&#8377;</span>
                <span class="form-control readonly " ng-bind="item.Rate * item.Quantity"></span>
              </span>
            </span>
            <span class="col-sm-2 col-xs-6">
              <button class="form-control btn-danger" ng-click="RemoveItem($index)">Remove</button>
            </span>
          </div>
          <div class="row">
            <span class="col-sm-3 col-xs-6">
              <select class="form-control" ng-options="k for (k, model) in models" ng-model="orphan.Model"></select>
            </span>
            <span class="col-sm-2 col-xs-6">
              <span class="input-group">
                <span class="input-group-addon">Qty#</span>
                <input required class="form-control" title="Quantity" type="number" ng-model="orphan.Quantity" ng-change="UpdateOrphanCalc()" />
              </span>
            </span>
            <span class="col-sm-2 col-xs-6">
              <span class="input-group">
                <span class="input-group-addon">Rate &#8377;</span>
                <input required class="form-control" title="Rate" type="number" ng-model="orphan.Rate" ng-change="UpdateOrphanCalc()" />
              </span>
            </span>
            <span class="col-sm-3 col-xs-6">
              <span class="input-group">
                <span class="input-group-addon">&#8377;</span>
                <input readonly  class="form-control" type="number" ng-model=orphan.value />
              </span>
            </span>
            <span class="col-sm-2 col-xs-6" ng-show="orphan.Model.Name && orphan.Rate && orphan.Quantity">
              <button class="form-control btn-success" ng-click="AddOrphan()">Add</button>
            </span>
          </div>
          <hr>
          <div class="row">
            <span class="col-sm-5 col-sm-offset-6 col-xs-10 col-xs-offset-1">
              <div class="row">
                <span class="input-group col-sm-offset-2 col-sm-10">
                  <span class="input-group-addon mdaddon">Goods Value &#8377;</span>
                  <input readonly class="form-control" title="Grand Total" type="number" ng-model="SaleInvoice.GoodsValue" />
                </span>
              </div>
              <div class="row">
                <span class="input-group col-sm-offset-2 col-sm-10">
                  <span class="input-group-addon mdaddon">Total Tax &#8377;</span>
                  <input required class="form-control" title="Total Tax"
                  type="number" ng-model="SaleInvoice.TotalTax" ng-change="ReCalculateInvoiceGT()" />
                </span>
              </div>
              <div class="row">
                <span class="input-group col-sm-offset-2 col-sm-10">
                  <span class="input-group-addon mdaddon">Total Freight &#8377;</span>
                  <input required class="form-control" title="Total Freight" type="number" ng-model="SaleInvoice.TotalFreight" ng-change="ReCalculateInvoiceGT()" />
                </span>
              </div>
              <div class="row">
                <span class="input-group col-sm-offset-2 col-sm-10">
                  <span class="input-group-addon mdaddon">Grand Total &#8377;</span>
                  <input readonly class="form-control" title="Grand Total" type="number" ng-model="SaleInvoice.GrandTotal" />
                </span>
              </div>
              <div class="row">
                <span class="input-group col-sm-offset-2 col-sm-10">
                  <span class="input-group-addon mdaddon">Remarks</span>
                  <input class="form-control"  title="Remarks" type="text"
                  ng-model="SaleInvoice.Remarks" placeholder="optional..."/>
                </span>
              </div>
              <div class="row">
                <span class="input-group col-sm-offset-2 col-sm-10">
                  <span ng-show="tempGrandTotal == SaleInvoice.GrandTotal">
                    <button ng-click="submitTodaysLog()" class="form-control btn-info">Submit</button>
                  </span>
                </span>
              </div>
            </span>
          </div> <!-- row -->
          <hr>
        </div>
      </div>
    </div> <!-- container -->
  </body>
</html>
