<html>
  <head>
    <title>Roorkee Daily Assembly</title>
    <script src="/static/lib/angular/angular.min.js"></script>
    <script src="/static/lib/angular/angular-resource.min.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/script.js"></script>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/sew114.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/sew72.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/static/img/sew57.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="/static/css/bs_modified.css" type="text/css" >
    <script>
      var appMod = angular.module('ngSEWPulseApp', ['bomServices']);

      appMod.controller('ngRRKDailyAssemblyController', ['$scope', '$http',
      'Model', function($scope, $http, Model) {

        function UpdateTotalQty() {
          var t = 0;
          for (var i=0; i < $scope.assembledItems.Items.length; i++) {
            t += parseInt($scope.assembledItems.Items[i].quantity);
            console.log(t);
          }
          $scope.totalQuantityProduced = t;
        }

        $scope.removeEntry = function(index) {
          $scope.assembledItems.Items.splice(index, 1);
          UpdateTotalQty();
        }

        $scope.addSingleEntry = function() {
          var l = $scope.assembledItems.Items.length;
          $scope.assembledItems.Items.splice(l, 0, angular.copy($scope.entry));
          UpdateTotalQty();
        }

        $scope.DateChanged = function() {
          var today = new Date();
          if (today < $scope.assembledItems.JSDate) {
            $scope.assembledItems.JSDate = today;
          }
          $scope.dateDiffFromTodayAsText = GetDateDiffAsText($scope.assembledItems.JSDate);
        }

        $scope.submitTodaysLog = function() {
          $scope.working = true;
          $scope.statusNote = "Submitting...";
          var api = "/api/rrkDailyAssemblySubmissionApi";
          $scope.assembledItems.JSDateValueAsSeconds = Math.floor($scope.assembledItems.JSDate.getTime()/1000);
          var postData = $scope.assembledItems;

          $http.post(api, postData).success(function(data, status, headers, config) {
            $scope.statusNote = "";
            $scope.isLogSubmitted = true;
            $scope.working = false;
            }).error(function(data, status, headers, config){
            $scope.statusNote = status + ": " + data;
            $scope.isLogSubmitted = false;
            $scope.working = false;
          });
        }

        function FetchModelsFromServer() {
          $scope.working = true;
          $scope.statusNote = "Fetching model set...";
          Model.query(function(data){
            $scope.models = data;
            $scope.statusNote = "";
            for (var k in $scope.models){
              $scope.entry.modelName = k;
              break;//Set to first value
            }
            $scope.working = false;
            }, function(error){
            $scope.statusNote = error.status + ": " + error.data;
            $scope.working = false;
          });
        }

        $scope.assembledItems = {}
        $scope.assembledItems.Items = [];
        $scope.assembledItems.JSDate =  new Date();
        $scope.DateChanged();
        $scope.entry = {quantity:5, assemblyLineName: "Line1", unit:"pc"};
        $scope.statusNote = "";
        $scope.isLogSubmitted = false;
        $scope.totalQuantityProduced = 0;
        FetchModelsFromServer();
      }]);
    </script>
  </head>
  <body ng-app="ngSEWPulseApp" ng-controller="ngRRKDailyAssemblyController">
    <div class="well">
      <a href="/"><img class="center-block" src="/static/img/sew57.png" /></a>
      <h1 class="text-center">RRK Daily Assembly</h1>
      <div id="statusNote" ng-bind="statusNote"></div>
    </div>
    <div class="container-fluid">
      <div ng-show="working">
        <img class="center-block" src="/static/img/working.gif" />
      </div>
      <div ng-show="!working">
        <div ng-hide="isLogSubmitted">
          <div class="row">
            <input required class="center-block" autofocus="true" title="Date of assembly" type="date" ng-model="assembledItems.JSDate" ng-change="DateChanged()" />
            <div class="text-center" ng-bind="dateDiffFromTodayAsText"></div>
          </div>
          <br>
          <div ng-show="assembledItems.Items.length > 0">
            <div class="well">
              <div class="panel panel-success">
                <table class="table table-striped table-condensed">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Model</th>
                      <th>Line</th>
                      <th>Qty</th>
                      <th>Units</th>
                      <th>Remarks</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <td></td>
                      <td>Total:</td>
                      <td></td>
                      <td><span ng-bind="totalQuantityProduced"></span></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tfoot>
                  <tr ng-repeat="item in assembledItems.Items">
                    <td><span ng-bind="$index + 1"></span><span>.</span></td>
                    <td><span ng-bind="item.modelName"></span></td>
                    <td><span ng-bind="item.assemblyLineName"></span></td>
                    <td><span ng-bind="item.quantity"></span></td>
                    <td><span ng-bind="item.unit"></span></td>
                    <td><span ng-bind="item.remarks"></span></td>
                    <td><button ng-click="removeEntry($index)" class="btn btn-sm btn-danger pull-right">X</button></td>
                  </tr>
                </table>
              </div>
              <button type="submit" ng-click="submitTodaysLog()" class="center-block btn btn-success">Submit the log</button>
            </div>
          </div>
          <hr>
          <form role="form" class="form-horizontal" ng-submit="addSingleEntry()">
            <div class="row">
              <div class="form-group">
                <div class="col-xs-6 col-sm-4">
                  <select required class="form-control" ng-options="name as name for (name, model) in models" ng-model="entry.modelName">
                  </select>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <select class="form-control" ng-model="entry.assemblyLineName">
                    <option value="Line1">Line1</option>
                    <option value="Line2">Line2</option>
                  </select>
                </div>
                <div class="col-xs-6  col-sm-3">
                  <input required type="number" class="form-control" ng-model="entry.quantity" placeholder="Quantity..."/>
                </div>
                <div class="col-xs-6 col-sm-2">
                  <input required type="text" class="form-control" ng-model="entry.unit" placeholder="pc or kg..."/>
                </div>
                <div class="col-xs-12">
                  <input type="text"   class="form-control" ng-model="entry.remarks" placeholder="Remarks if any..."/>
                </div>
              </div> <!-- form-group -->
            </div> <!-- row -->
            <button type="submit" class="col-xs-12 center-block btn btn-info">Add Entry</button>
            <br>
            <hr>
          </form>
          <br>
        </div>
        <div ng-show="isLogSubmitted">
          <div class="alert alert-success" role="alert">
            <div class="text-center">
              Thanks. The log has been submitted successfully.
            </div>
          </div>
        </div>
      </div>
    </div> <!-- container -->
  </body>
</html>
