<html>
  <head>
    <title>Roorkee Stock Position</title>
    <script src="/static/lib/angular/angular.min.js"></script>
    <script src="/static/lib/angular/angular-resource.min.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/script.js"></script>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/sew114.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/sew72.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/static/img/sew57.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="/static/css/bs_modified.css" type="text/css" >
    <script>
      var appMod = angular.module('SEWPulseApp', ['bomServices']);
      appMod.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('||');
        $interpolateProvider.endSymbol('||');
      });

      appMod.controller('RRKStockPositionController', ['$scope', '$http', 'RRKStockPosition', 'RRKStockPristineDate', function($scope, $http, RRKStockPosition, RRKStockPristineDate) {

        function FetchRRKStockPristineDate(){
          RRKStockPristineDate.get(function(data){
            $scope.stockPristineDate = DateAsUnixTimeToDDMMMYY(data.PristineTime);
            $scope.statusNote = "";
            }, function(error){
            $scope.statusNote = error.status + ": " + error.data;
          });
        }

        function FetchRRKStockPositionFromServer() {
          $scope.working = true;
          $scope.stockAvailable = false;
          $scope.statusNote = "Fetching stock position ...";
          RRKStockPosition.get({id:JSDateToUnixTime($scope.JSDate)}, function(data){
            $scope.Models = data.Models;
            $scope.Articles = data.Articles;
            FetchRRKStockPristineDate();
            $scope.statusNote = "";
            $scope.working = false;
            $scope.stockAvailable = true;
            }, function(error){
            $scope.statusNote = error.status + ": " + error.data;
            $scope.stockAvailable = false;
            $scope.working = false;
          });
        }

        $scope.DateChanged = function(){
          var today = new Date();
          if (today < $scope.JSDate) {
            $scope.JSDate = today;
          }
          $scope.dateDiffFromTodayAsText = GetDateDiffAsText($scope.JSDate);
          FetchRRKStockPositionFromServer();
        }

        $scope.statusNote = "";
        FetchRRKStockPristineDate();
      }]);
    </script>
  </head>
  <body ng-app="SEWPulseApp" ng-controller="RRKStockPositionController">
    <div class="well">
      <a class="visible-print"><img class="center-block" src="/static/img/sew57.png" /></a>
      <a class="hidden-print" href="/"><img class="center-block" src="/static/img/sew57.png" /></a>
      <h1 class="text-center">RRK Stock Position</h1>
      <div id="statusNote" ng-bind="statusNote"></div>
      <div class="text-center"> Stock Pristine Date: <span id="result" ng-bind="stockPristineDate"></span></div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <input required class="center-block" autofocus="true" title="View Stock for this date" type="date" ng-model="JSDate" ng-change="DateChanged()" />
        <div class="text-center" ng-bind="dateDiffFromTodayAsText"></div>
      </div>
      <hr>
      <div ng-show="working">
        <img class="center-block" src="/static/img/working.gif" />
      </div>

      <div ng-show="!working">
        <div ng-show="stockAvailable">
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th class="col-xs-3" >Model</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tr ng-repeat="(modelName, quantity) in Models">
              <td><span ng-bind="modelName"></span></td>
              <td class="hidden-print"> <a ng-href="/trace/model/||modelName||"><span ng-bind="quantity"></span></a> </td>
              <td class="visible-print"> <span ng-bind="quantity"></span></td>
            </tr>
          </table>
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th class="col-xs-3">Article</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tr ng-repeat="(name, quantity) in Articles">
              <td><span ng-bind="name"></span></td>
              <td class="hidden-print"> <a ng-href="/trace/article/||name||"><span ng-bind="quantity"></span></a> </td>
              <td class="visible-print"> <span ng-bind="quantity"></span></td>
            </tr>
          </table>
        </div><!-- stockAvailable -->
      </div> <!-- !working -->
    </div> <!-- container -->
  </body>
</html>
